.title{
  font-size: 14px;
  font-family: Arial, sans-serif;
}

.detail{
  font-size: 12px;
  font-family: Arial, sans-serif;
}

.stamp{
  font-size: 10px;
  color: #616161;
}

.focused-block{
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
}

button.selectable:hover{
  background: #1565C0;
  transition: 0.2s;
  -webkit-transition: 0.2s; /* Safary */
}

.selectable{
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s; /* Safary */
}

.selectable:hover{
  background: #E0E0E0;
  transition: 0.2s;
  -webkit-transition: 0.2s; /* Safary */
}

.box{
  max-width: 600px;
  background: #f7f7f7;
  padding: 10px;
}

.nodeBox{
  max-width: 300px;
  background: #f7f7f7;
  padding: 10px;
}

.padded{
  padding: 8px;
}

#head {
  margin: 0px;
  padding: 0px;
}

#node {
  float:left;
  max-width: 280px;
  margin: 0px;
  padding: 5px;
}

#synapse {
  float: left;
  margin:0px;
  padding: 5px;
  min-height:170px;
  min-width: 500px;
}
